<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}} ">
	<title>{% block title %}{% endblock %} - Todo list</title>
</head>
<body>
	<nav>
		<h1>Todo List</h1>
		<ul>
			{% if g.user %}
				<li><span>{{ g.user['username']}} </span></li>
				<li><a href="{{ url_for('auth.logout')}} ">Cerrar sesion</a></li>
			{% else %}
				<li><a href="{{ url_for('auth.register')}} ">Registrarse</a></li>
				<li><a href="{{ url_for('auth.login')}} ">Iniciar sesion</a></li>
			{% endif %}
		</ul>
	</nav>
	<section class='content'>
		<header>
			{% block header %}{% endblock %}
		</header>
		{% for menssage in get_flashed_messages() %}
			<div class='flash'>{{ menssage }}</div>
		{% endfor %}
		{% block content %}{% endblock %}
	</section>
</body>
</html>